// color
$color-dark: #333;
$color-grey: #999;

// font-size
$font-size-sm: 12px; // 注释字号
$font-size-m: 14px; // 常规字号
$font-size-l: 16px; // 常规标题
$font-size-xl: 18px; // 大号标题
$font-size-xxl: 24px; // 用于标题数字或强调数字

// 水平间距
$space-h-s: 8px;
$space-h-m: 15px;
$space-h-l: 30px;


// 垂直间距
$space-v-s: 8px;
$space-v-m: 15px;
$space-v-l: 30px;

// border-color
$border-color: #eaeaea;

// border-radius
$border-radius: 4px;

/* Box-shadow
-------------------------- */
$shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
$shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;